.navigationLinks {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
    font-size: 1.6rem;
    align-items: center;
    font-weight: 500;
    color: var(--color-gray-900);
    text-decoration: none;
}

.navigationLinks > li:hover {
    color: var(--color-green-500);
    cursor: pointer;
}

.signup_btn {
    background-color: var(--color-yellow-200);
    border: 1px solid transparent !important;
}

.signup_btn:hover {
    border: 1px solid #000 !important;
}
.navigaiton_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1rem;
    max-width: 1280px;
    margin-inline: auto;
    width: 100%;
}

.navigationLinks > div > a {
    border-radius: 35px;
    margin: 0;
    padding: 1rem 1.8rem;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-right: 1rem;
}