:root {
  --color-green-500: rgb(34, 197, 94);
  --color-yellow-200: rgb(254, 240, 138);
  --color-offgreen-light: rgb(232, 242, 241);
  --color-offgreen-dark: rgb(134, 168, 164);
  --color-offgreen-medium: rgb(217, 235, 233);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-gray-500: rgb(107, 114, 128);
  --color-gray-900: rgb(18, 29, 41);
  --color-emerald-500: rgb(16, 185, 129);

  --font-dm-san: "DM Sans", sans-serif;

  --max-page-width: 1280px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

html {
  font-size: 62.50%;  /* 1rem = 10px now*/
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
  width: 100%;
  border-bottom: 1px solid var(--color-offgreen-medium);
}

.main_layout_container {
  max-width: 1280px;
  margin-inline: auto;
  padding: 0 2rem;
  width: 100%;
}

button {
  cursor: pointer;
}